p{
color: black; font-size: 14px; font-family: "Arial", Times, serif;margin-left: 50px;
}
body {
    width: 900px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    background-color: lightblue;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}
